.cv1 {
    width: 870px;
    height: 100000px;
    position: relative;
    margin: 0px auto;
    top: -100px;
    background: coral;
}

.cv2 {
    background: rgb(255, 167, 136);
    width: 800px;
    position: absolute;
    top: 100px;
    margin: 100px auto;
    height: 10000px;
    left: 25px;
    padding: 10px;
}