.cv1 {
    width: 870px;
    height: 1500px;
    position: relative;
    margin: 0px auto;
    top: -100px;
    background: #4a5fff;
}

.cv2 {
    background: #8896ff;
    width: 800px;
    position: absolute;
    top: 100px;
    margin: 100px auto;
    height: fit-content;
    left: 25px;
    padding: 10px;
}

.alb1 {
    width: 90%;
    height: 200px;
    /* Ширина */
    position: relative;
    border-color: aliceblue;
    background-color: aliceblue;
    border-style: double;
    margin: 0 5px 0 0;
    padding: 10px;
    object-fit: cover;
    /* Вписываем фотографию в область */
}