.cv3 {
    width: 870px;
    height: 100000px;
    position: relative;
    margin: 0px auto;
    top: -100px;
    background: rgb(255, 247, 0);
}

.cv4 {
    background: rgba(179, 0, 255, 0.501);
    width: 800px;
    position: absolute;
    top: 100px;
    margin: 100px auto;
    height: 10000px;
    left: 25px;
    padding: 10px;
}